#kbd { float: left; text-align: center; padding: 15px; border-spacing: 2px; background-color: #fff; }

#kbd td { padding: 5px; }

.key { min-width: 32px; border: 2px solid #aaa; border-radius: 6px; color: #333;
    background-color: #ccc; }

.mode { font-size: 74% }

.active { border: 2px solid red; font-weight: bold; color: #000;
    background-color: #ececec; }

/*.path { border: 2px solid #666; color: #000; background-color: #e6e6e6; }*/